body {

    margin: 0px;
    text-align: center;
    font-family: "sacramento", 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.top {
    background-color: #DEF5E5;
    padding-top: 100px;
    height: 850px;
    margin: auto;
    width: 100%;
}

.moon {
    width: 150px;
    height: 150px;
    position: relative;
    left: 300px;
    bottom: 50px;

}

.mountain {
    margin: 0px;
    width: 100%;
    position: relative;
    top: 0px;
}

.name {
    font-size: 50px;
    font-family: "sacramento";
}

.p {
    font-family: "montserrat";
    position: relative;
    bottom: 20px;
}

.boy {
    height: 200px;
    width: 200px;
}

.k {
    font-family: "montserrat";
}

hr {

    border-style: dotted none none;
    background-color: white;
    border-color: grey;
    width: 7%;
    border-width: 10px;

}

.bottom {
    background-color: #DEF5E5;
    padding: 30px 0px 20px 0px;
    width: 100%;
}

.mid {
    background-color: #ECF9FF;
}

.tophr {
    background-color: #ECF9FF;
}
